.homedeals-first{
    height: 220px;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border: 1px solid rgb(214, 206, 206);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hh3{
    margin-left: 20px;
    margin-top: 25px;
}

.home-offers h5{
    margin-left: 20px;
    color: rgb(176, 172, 172);

}

.timing-boxes{
    display: flex;
    flex-direction: row;
}

.timing{
    background-color: rgb(110, 110, 110);
    color: white;
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.offer-items{
    width: 170px;
    height: 220px;
    border: 1px solid rgb(229, 224, 224);
    cursor: pointer;
}

#offer-items-last{
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.offer-items h5{
    margin-left: 37px;
}

.offer-items img{
    margin-top: 15px;
    margin-left: 20px;
}

#lap{
    margin-top: 30px;
}

#cam{
    height: 150px;
    margin-top: 6px;
    margin-left: 9px;
}

#headph{
    margin-top: 27px;
    margin-left: 28px;
}

#cann{
    margin-top: 30px;
}

#laph5{
    margin-top: 24px;
    margin-left: 55px;
}
#hh5{
    background-color: rgb(244, 191, 202);
    color: rgb(250, 52, 52);
    width: 55px;
    height: 25px;
    margin-left: 57px;
    margin-top: 5px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-offers{
    width: 270px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.homedeals-second{
    height: 270px;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    border: 1px solid rgb(214, 206, 206);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}



.dealsecond-first{
    width: 270px;
    height: 270px;
    border: 1px solid rgb(214, 206, 206);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: rgb(250, 227, 172);
}


.dealsecond-first h3{
    margin-left: 20px;
    margin-top: 25px;
    width: 150px;
    font-size: 20px;
}

.dealsecond-first button{
    background-color: #fff;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
}


.dealmultiple{
    height: 270px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.dealsecond-one{
    width: 212px;
    height: 135px;
    border: 1px solid rgb(214, 206, 206);
    display: flex;
    flex-direction: row;
}

.cc{
    height: 80px;
}

.ll{
    height: 60px;
}


#ss{
    margin-top: 20px;
    width: 90px;
    margin-left: 15px;
}

#cc{
    margin-top: 47px;
    margin-left: 20px;
}

#pp{
    color: rgb(176, 172, 172);
    font-size: 14px;
    width: 50px;
    margin-left: 15px;
    margin-top: 12px;

}

.dealsecond-two{
    width: 212px;
    height: 135px;
    border: 1px solid rgb(214, 206, 206);
    display: flex;
    flex-direction: row;
}

#dealsecond-one-last{
    border-top-right-radius: 10px;
}

#dealsecond-two-last{
    border-bottom-right-radius: 10px;
}

