.navbar-box{
    margin-top: 17px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}

.navbar-box a{
    margin-right: 30px;
    text-decoration: none;
    color: rgb(59, 58, 68);
    margin-top: 5px;
    font-weight: 550;
}

.navbar-box a:hover{
    color:rgb(101, 98, 98) ;
}

.navbar-box span{
    font-size: 18px;
    margin-right: 5px;
}



.select{
    height: 30px;
    font-size: 15px;
    font-weight: 550;
    color: rgb(59, 58, 68);
    border: none;
    cursor: pointer;
}

#second-select{
    margin-left: 250px;
    margin-right: 80px;
}

.second-line{
    margin-top: 15px;
}